h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.page{
    width:90%;
    margin: 0 auto;
}
.form{
    margin-top: 15px;
}
.plus{
    margin-right: 10px;
}
.botoes{
    margin-top: 10px;
}